.modal-dialog {
    width: 800px;
    height:600px !important;
  }
.modal-content {
    /* 80% of window height */
    height: 100%;
    background-color:#BBD6EC;
    font-size: 10px;
}        
.modal-header {
    background-color: #337AB7;
    padding:1px 1px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
    font-size: 10px;
}

.modal-header h4 {
    font-size: 12px;
}

div.labelItem {
    font-size:10px;
    color: darkcyan;
}

.app-modal-window .modal-dialog {
    width: 700px;
  }

