<div class="container">
  <div class="rowxxx">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Depositos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/depositos/list" routerLinkActive="active">List
              <i class="fa fa-list" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/depositos/create" routerLinkActive="active">
              Create
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/depositos/update" routerLinkActive="active">Update
              <i class="fa fa-pencil" aria-hidden="true"></i>              
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li>
            <a class="btn btn-default" routerLink="list" routerLinkActive="active" (click)="buscarDepositos()"
              aria-label="Settings">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>